/********************************************************************************************************************************************************************************/
/* menu */
#menu:before {
	position:absolute;
	content:"";
	display:block;
	height:61px;
	width:100%;
	left:0;
	top:0;
	z-index:0;
	border-radius:6px;	
	background-color:#e2e2e2;
	background-image: linear-gradient(bottom, #e2e2e2 0%, #f1f1f1 100%);
	background-image: -o-linear-gradient(bottom, #e2e2e2 0%, #f1f1f1 100%);
	background-image: -moz-linear-gradient(bottom, #e2e2e2 0%, #f1f1f1 100%);
	background-image: -webkit-linear-gradient(bottom, #e2e2e2 0%, #f1f1f1 100%);
	background-image: -ms-linear-gradient(bottom, #e2e2e2 0%, #f1f1f1 100%);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #e2e2e2),color-stop(1,#f1f1f1));-webkit-box-shadow: 0 10px 3px -8px #172b92;
	-moz-box-shadow: 0 10px 3px -8px #172b92;
	box-shadow: 0 10px 3px -8px #172b92;
	}
#menu{
	position:relative;
	z-index:5;
	display:block;
	border-radius:8px 8px 6px 6px;
	background-color:#172b92;
	background-image: linear-gradient(bottom, #172b92 0%, #3540bd 10%);
	background-image: -o-linear-gradient(bottom, #172b92 0%, #3540bd 10%);
	background-image: -moz-linear-gradient(bottom, #172b92 0%, #3540bd 10%);
	background-image: -webkit-linear-gradient(bottom, #172b92 0%, #3540bd 10%);
	background-image: -ms-linear-gradient(bottom, #172b92 0%, #3540bd 10%);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #172b92),color-stop(.1,#3540bd));
	padding-bottom:10px;	
	}

#menu  >ul>li:first-child a{
	border-radius:6px 0 0 6px; 
	}


#menu ul {
	list-style: none;
	margin: 0;
	padding: 0;

}
#menu > ul > li:first-child {border-left:none;}
#menu > ul > li {
	float: left;
	z-index: 10;
	position:relative;
	border-radius:0;
	background:url(../image/link-separator.gif) no-repeat right bottom;
}
#menu > ul > li > a {
	padding:24px 20px 23px;
	display:block;
	z-index: 1;
	position: relative;
	font-size:12px;
	line-height:14px;
	font-weight:600;
	color:#939393;
	text-decoration:none;
	text-transform:uppercase;
	font-family:'Open Sans', sans-serif;
	-webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
#menu > ul > li>a:hover, #menu > ul > li.sfHover>a, #menu > ul > li.active>a  {
	background-color:#aaa;
	background-image: linear-gradient(bottom, #aaa 0%, #bfbfbf 100%);
	background-image: -o-linear-gradient(bottom, #aaa 0%, #bfbfbf 100%);
	background-image: -moz-linear-gradient(bottom, #aaa 0%, #bfbfbf 100%);
	background-image: -webkit-linear-gradient(bottom, #aaa 0%, #bfbfbf 100%);
	background-image: -ms-linear-gradient(bottom, #aaa 0%, #bfbfbf 100%);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #aaa),color-stop(1,#bfbfbf));
	color:#fff;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.05) inset;
	}	
#menu > ul > li>a:hover span.sf-sub-indicator:after, #menu > ul > li.sfHover>a span.sf-sub-indicator:after, #menu > ul > li.active>a span.sf-sub-indicator:after{
	color:#fff;
}
#menu > ul > li > div {
    position: absolute;
	background:#fff;	
	padding:25px 0px;
	border-radius:6px;
}
#menu > ul > li > div li{   	
	padding:2px 15px;
	position:relative;
}
#menu > ul > li:hover > div {
	border:1px solid #ededed;
}
#menu > ul > li  ul {
	display: none;
	z-index: 99;
	left:0px;
	top:0px;
	width:auto;
	min-width:70px;
	margin:0;
}
#menu ul ul > li{
	min-width:120px;
}
#menu > ul > li > div li.big, #menu > ul > li > div li.big li{
	padding:0 8px 0 15px;
	min-width:60px;
}
#menu > ul > li:hover  ul {
	display:table-cell;
}
#menu span.sf-sub-indicator {position:relative;}
#menu span.sf-sub-indicator:after {
	content:'\f0d7';
	background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
    display: inline;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
	line-height:0px;
    height: auto;
    margin-top: 0;
    text-decoration: inherit;
    vertical-align: middle;
    width:1.45em;
	padding-left:3px;
	font-size:13px;
	color:#939393;
	}

#menu ul li li span.sf-sub-indicator:after {
	content:'\f0da';
	font-size:13px;
	}
#menu > ul > li:hover > div {
	display: table;
}
#menu > ul > li ul > li > a:hover, #menu > ul > li ul > li.active > a, #menu > ul > li ul > li.sfHover > a {
	color:#030261;
	}
#menu > ul > li ul > li > a:hover span.sf-sub-indicator:after, #menu > ul > li ul > li.active > a span.sf-sub-indicator:after, #menu > ul > li ul > li.sfHover > a span.sf-sub-indicator:after{
	color:#030261;
}
#menu > ul > li > ul  li:first-child {border-top:0px;}
#menu > ul > li > ul  li { 
	position:relative;
	padding:3px 19px;
	}
#menu > ul > li > ul > li  a {
	text-decoration:none;
	color: #b6b6b6;
	font-size:13px;
	text-transform:none;
	line-height:18px;
	text-align:left;
}
#menu ul > li ul ul  { 
	position:absolute;
	left:100%;
	top:-10px;
	border-left:0;
	border:1px solid #ededed;
	background:#fff;
	border-radius:6px;
	padding:10px 0;
}

#menu ul > ul > li ul li a:hover, #menu > ul > li > ul > li a.active { 
	color:#030261; 
	}
/*****************************************************/
#menu-icon {
    background: #030261;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-size: 17px;
    font-weight: bold;
    line-height: 30px;
    padding:10px 17px;
    text-transform: uppercase;
	position:relative;
}
#menu-icon:after {
	float:right;
	content:"\f0d7";
	background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
    display: inline;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    height: auto;
    line-height: 30px;
    margin-top: 0;
    text-decoration: inherit;
    vertical-align: baseline;
    width: auto;
	display: inline-block;
    text-decoration: inherit;
	text-align: center;
    width: 1.25em;
	font-size:16px;	
	color:#fff;
	vertical-align:middle;
	}
#menu ul ul > li.big ul  { 
	position:relative;
	left:0;
	top:0;
	border:none;
	background:none;
	width:100%;
	padding:0;
}
#menu ul > ul > li ul li a:hover, #menu > ul  li  ul  li a.active { 
		color:#030261; 
	}
#menu-icon.active:after {
	content:"\f0d8";
	}
.sf-menu-phone {display:none;}
.sf-menu-phone li { 
	position: relative;
	
	background-color:#f1f1f1;
	}
  .sf-menu-phone li a { display: inline-block;  color: #939393;  border-bottom:1px solid #f3f3f3;}
  .sf-menu-phone  li {   font-size: 19px; font-weight: bold; padding: 0; }
  .sf-menu-phone  li > a {padding: 10px 15px; display: block;}
  .sf-menu-phone  li li  a {padding: 10px 15px 10px 25px; display: block;}
  .sf-menu-phone  li li li a {padding: 10px 15px 10px 35px; display: block;}
  .sf-menu-phone li a:hover { color: #B90100; }
  .sf-menu-phone li li {font-size: 14px;}
  .sf-menu-phone li li.last { padding-bottom: 0 !important;  }
  .sf-menu-phone li i {
    position: absolute;
    display: block;
    top: 2px;
    right: 0;
    height: 24px;
    width: 24px;
  }
  .sf-menu-phone  li  i {top: 12px;color:#030261; font-size:17px; padding:0 20px; right:5px}
  .sf-menu-phone  li i.icon-angle-up:before {content:'\f0d8' !important}
  .sf-menu-phone li i:hover { cursor: pointer; color:#fff;}
  .sf-menu-phone li i.opened { background-position: center 7px; }

  /** dropdown **/
  .sf-menu-phone ul {  width: auto;  padding: 0px 0px;  display: none;  }
  .sf-menu-phone  li.active > a > span {color: inherit;}
  .sf-menu-phone  li.active > a,
  .sf-menu-phone  li:hover > a { color: #fff; background: #a2a2a2; }

  .sf-menu-phone li li.active > a,
  .sf-menu-phone li li a:hover {color: #fff;}